<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="test/TestBootstrap.php"
         cacheResult="false">
    <coverage>
        <include>
            <directory suffix=".php">./</directory>
        </include>
        <exclude>
            <directory suffix=".php">./test</directory>
            <directory suffix=".php">./vendor</directory>
            <directory suffix=".php">./src/Migration</directory>
            <directory suffix="Definition.php">./</directory>
            <directory suffix="Exception.php">./</directory>
            <file>src/NRLEJPostDirektAutocomplete.php</file>
        </exclude>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="KERNEL_CLASS" value="\Shopware\Core\Framework\Test\TestKernel" />
        <env name="APP_DEBUG" value="1"/>
        <env name="APP_SECRET" value="s$cretf0rt3st"/>
        <env name="SHELL_VERBOSITY" value="-1"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
    </php>
    <testsuites>
        <testsuite name="Deutsche Post Direkt Autocomplete Testsuite">
            <directory>test</directory>
        </testsuite>
    </testsuites>
</phpunit>
