<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Deutsche Post Direkt Autocomplete Settings</title>
        <title lang="de-DE">Deutsche Post Direkt Autocomplete Einstellungen</title>

        <input-field type="bool">
            <name>active</name>
            <label>Active</label>
            <label lang="de-DE">Aktiviert</label>
        </input-field>
        <input-field type="bool">
            <name>logging</name>
            <label>Log API communication</label>
            <label lang="de-DE">Protokolliere API Kommunikation</label>
        </input-field>
        <input-field type="bool">
            <name>sandbox</name>
            <label>Use Sandbox Endpoint</label>
            <label lang="de-DE">Sandbox Endpunkt nutzen</label>
        </input-field>
        <input-field>
            <name>apiUser</name>
            <label>API User</label>
            <label lang="de-DE">API Nutzer</label>
        </input-field>
        <input-field type="password">
            <name>apiPassword</name>
            <label>API Password</label>
            <label lang="de-DE">API Password</label>
        </input-field>
    </card>
</config>
