<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Deutsche Post Direkt</title>
        <component name="infobox">
            <name>infobox</name>
            <logo>nrlejpostdirektautocomplete/static/assets/images/deutsche-post-logo.svg</logo>
            <version>1.3.3</version>
            <headerColor>#FFD633</headerColor>
            <bodyColor>#FEFCEE</bodyColor>
        </component>
    </card>
    <card>
        <title>Autocomplete Settings</title>
        <title lang="de-DE">Autocomplete Einstellungen</title>
        <input-field type="bool">
            <name>active</name>
            <label>Active</label>
            <label lang="de-DE">Aktiviert</label>
        </input-field>
        <input-field>
            <name>apiUser</name>
            <label>API User</label>
            <label lang="de-DE">API Nutzer</label>
        </input-field>
        <input-field type="password">
            <name>apiPassword</name>
            <label>API Password</label>
            <label lang="de-DE">API Password</label>
        </input-field>

        <component name="postdirekt.autocomplete.api-test-button">
            <name>postdirektAutocompleteApiTestButton</name>
        </component>
    </card>
    <card>
        <title>House number hint</title>
        <title lang="de-DE">Hausnummern Hinweis</title>
        <input-field type="bool">
            <name>activeHousenumberHint</name>
            <label>Active</label>
            <label lang="de-DE">Aktiviert</label>
        </input-field>
        <component name="housenumberinfo">
            <name>housenumberinfo</name>
            <bodyColor>#FEFCEE</bodyColor>
        </component>
    </card>
</config>
