<div>
{% block nr_autocomplete_api_test_button %}
    <sw-button :disabled="false"
               variant="secondary"
               @click="onButtonClick()">
        {{ $t('postdirekt-autocomplete.apiTest.buttonLabel') }}
    </sw-button>
{% endblock %}
</div>
